// Evitar agregar espacios que no esten relacionados con el nombre o valor de las variables de entorno
// Por ejemplo, para agregar la variable KEY de valor VAL escribir:
// KEY=VAL
// en lugar de:
// KEY = VAL
TCP_BACKLOG=2
THREADS_MAX=1000
SENSOR_READ_FREQ_MS=1000
SENSOR_FILTER_COUNT=5
HISTORY_PATH=history
